github-copilot
kde.org
pulse
rncbc.org
spotify
systemd
vlc
xfce4
.config/cava/shaders
RaySession
.config/spotify
.config/ncspot
.config/Thunar
.config/btop/btop.log
.config/easyeffects
.config/Slack
.config/Microsoft
.config/autostart
.config/teams
.config/mimeapps.list
.config/discord
.config/GIMP
.config/Code
.config/Signal
.config/chromium
.config/obsidian

